<p-menubar [model]="items">
  <ng-template #start>
    <div class="logo-container flex items-center gap-2">
      <svg class="logo-icon" width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="..." fill="var(--primary-color)" />
      </svg>
      <span class="brand-title">Bidder X</span>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="user-container flex items-center gap-2">
      <ng-container *ngIf="(authService.isLoggedIn$ | async); else guestView">
        <div *ngIf="user$ | async as user">
          <button
            class="user-dropdown-btn p-button p-button-text flex items-center gap-2"
            (click)="toggleDropdown($event)"
            aria-label="User menu"
          >
            <p-avatar [image]="getAvatarUrl(user?.imageUrl || '')" shape="circle"></p-avatar>
            <span class="user-name">{{ user?.profileIdentifier || user?.firstName || 'User' }}</span>
            <i class="pi pi-angle-down"></i>
          </button>
          <p-menu #userMenu [model]="dropdownItems" [popup]="true" [baseZIndex]="10000"></p-menu>
        </div>
      </ng-container>
      <ng-template #guestView>
        <a routerLink="/login" class="get-started-btn p-button p-button-primary">Get Started</a>
      </ng-template>
    </div>
  </ng-template>
</p-menubar>
