<div class="profile-page">
  <p-card styleClass="modern-profile-card mb-4">
    <app-profile-header
      [user$]="user$"
    ></app-profile-header>
  </p-card>

  <!-- Profile Actions -->
  <div class="profile-actions">
    <p-button *ngIf="isOwner()" 
              label="Create Collection" 
              icon="pi pi-plus" 
              class="p-button-rounded custom-button-style" 
              (onClick)="onCreateCollection()">
    </p-button>
  </div>  

  <app-profile-tabs></app-profile-tabs>

</div>
