/* Make sure the parent container takes the full height of the screen */
.h-screen { 
  height: 100vh; 
}

/* Ensure the form and card content are centered */
.flex { 
  display: flex; 
}

.align-items-center { 
  align-items: center; 
}

.justify-content-center { 
  justify-content: center; 
}

.flex-column { 
  flex-direction: column; 
}

/* New layout for login content */
.login-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1.3rem; /* Reduces space between sections */
}

/* Make the input section fill the width */
.input-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 100%; /* Ensure the input section fills the available width */
}

/* Ensure the input fields stretch to full width */
.p-input-icon-left input,
.p-password {
  width: 100%; /* Ensure the input fields stretch to full width */
}


.login-footer {
  margin-top: auto;
  padding-top: 0.2rem; /* Minimal padding */
}

/* Reduce divider margin */
.p-divider {
  margin: 0.2rem 0;
}

/* Input and spacing styles */
.p-input-icon-left { 
  width: 100%; 
  margin-bottom: 0.75rem; 
}

.p-error { 
  color: red; 
}

button { 
  width: 100%; 
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem; /* Adds consistent spacing between links */
}

.footer-links-container p-button {
  flex-grow: 0; /* Allows buttons to maintain their natural size */
  display: flex;
  justify-content: center;
}
