.h-screen { 
    height: 100vh; 
  }
  
  .flex { 
    display: flex; 
  }
  
  .align-items-center { 
    align-items: center; 
  }
  
  .justify-content-center { 
    justify-content: center; 
  }
  
  .flex-column { 
    flex-direction: column; 
  }
  
  .p-card { 
    width: 100%; 
    max-width: 500px; 
  }
  
  /* New layout for registration content */
  .login-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
  }
  
  .input-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 1rem; /* Space between inputs */
  }
  
  .input-container {
    width: 100%; /* Ensure each input container fills its column */
  }
  
  
  .login-footer {
    margin-top: auto;
    padding-top: 0.5rem;
  }
  
  .p-divider {
    margin: 0.5rem 0;
  }
  
  .p-input-icon-left { 
    width: 100%; 
    margin-bottom: 0.75rem; 
  }
  
  .p-error { 
    color: red; 
  }
  
  button { 
    width: 100%; 
  }

  .footer-links-container {
    gap: 1rem; /* Add space between buttons */
}

.footer-links-container p-button {
    flex: 1; /* Optional: Ensure equal width buttons */
    display: flex;
    justify-content: center; /* Center text in buttons */
}
