<div class="flex align-items-center justify-content-center h-screen" style="background-color: rgb(191, 191, 191);">
  <p-card header="Welcome Back" subheader="">
    <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onLogin()">
      <div class="login-content">
        <!-- Email Input -->
        <div class="input-section">
          <span class="p-input-icon-left w-full">
            <p-iconfield>
              <input pInputText formControlName="email" placeholder="Email" class="w-full" />
              <p-inputicon class="pi pi-envelope"></p-inputicon>
            </p-iconfield>
          <!-- Email Error Messages -->
          <div *ngIf="isFieldInvalid('email')" class="text-right w-full mb-2">
            <small class="p-error block text-right">
              {{ getErrorMessage('email') }}
            </small>
          </div>
          </span>

          <!-- Password Input -->
          <span class="p-input-icon-left w-full">
            <p-password formControlName="password" [toggleMask]="true" placeholder="Password" class="w-full"></p-password>
          <!-- Password Error Messages -->
          <div *ngIf="isFieldInvalid('password')" class="text-right w-full mb-2">
            <small class="p-error block text-right">
              {{ getErrorMessage('password') }}
            </small>
          </div>
          </span>

          <!-- Login Button -->
          <div class="flex align-items-center justify-content-center w-full">
            <button pButton type="submit" label="Login" [loading]="loading" class="w-full"></button>
          </div>
        </div>

        <!-- Footer-like Section -->
        <!-- Footer Section -->
<div class="login-footer mt-3">
  <p-divider></p-divider>
  <div class="footer-links-container flex justify-content-between align-items-center mt-3">
    <p-button label="Create Account" [link]="true" routerLink="/register"></p-button>
    <p-button label="Need Help?" [link]="true"></p-button>
  </div>
</div>

      </div>
    </form>
  </p-card>
  <p-toast></p-toast>
</div>

  