/* You can add global styles to this file, and also import other style files */
/* Custom styling for the Edit Profile Split Button */
/* Global custom button style for all p-button components */


@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --serif: 'Crimson Pro', serif;
  --sans-serif: 'DM Sans', sans-serif;
}

body {
  background-color: #f3f9f2
}



.p-button:focus, 
.p-splitbutton .p-button:focus {
  box-shadow: none !important;  
}



.p-button-rounded {
  border-radius: 50px !important; 
}


.p-button.p-button-primary {
  background-color: #FFA400 !important; 
  border-color: #FFA400 !important;
  color: #3e1300 !important;
}


.p-button.p-button-secondary {
  background-color: #A9B6B1 !important; 
  border-color: #A9B6B1 !important;
  color: #3e1300 !important;
}


 */
